body {
    overflow: hidden;
    /* スクロール禁止 */
}

.window {
    width: 295px;
    height: 100px;
}

.count {
    text-align: center;
}

.count-area {
    display: flex;
    text-align: center;
    justify-content: center;
    margin-bottom: 8px;
}

.field-row {
    justify-content: center;
}